# =============== #
# Unity generated #
# =============== #
Temp/
Library/

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
obj/
*.svd
*.userprefs
/*.csproj
*.pidb
*.suo
/*.sln
*.user
*.unityproj
*.booproj

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
Hexacraft_0.3a.exe
Hexacraft_0.3a_Data/Managed/Assembly-CSharp-firstpass.dll
Hexacraft_0.3a_Data/Managed/Assembly-CSharp.dll
Hexacraft_0.3a_Data/Managed/Assembly-UnityScript.dll
Hexacraft_0.3a_Data/Managed/Mono.Security.dll
Hexacraft_0.3a_Data/Managed/System.Core.dll
Hexacraft_0.3a_Data/Managed/System.dll
Hexacraft_0.3a_Data/Managed/UnityEngine.Networking.dll
Hexacraft_0.3a_Data/Managed/UnityEngine.PlaymodeTestsRunner.dll
Hexacraft_0.3a_Data/Managed/UnityEngine.UI.dll
Hexacraft_0.3a_Data/Managed/UnityEngine.dll
Hexacraft_0.3a_Data/Managed/UnityEngine.dll.mdb
Hexacraft_0.3a_Data/Managed/UnityEngine.xml
Hexacraft_0.3a_Data/Managed/mscorlib.dll
Hexacraft_0.3a_Data/Mono/MonoPosixHelper.dll
Hexacraft_0.3a_Data/Mono/etc/mono/1.0/DefaultWsdlHelpGenerator.aspx
Hexacraft_0.3a_Data/Mono/etc/mono/1.0/machine.config
Hexacraft_0.3a_Data/Mono/etc/mono/2.0/Browsers/Compat.browser
Hexacraft_0.3a_Data/Mono/etc/mono/2.0/DefaultWsdlHelpGenerator.aspx
Hexacraft_0.3a_Data/Mono/etc/mono/2.0/machine.config
Hexacraft_0.3a_Data/Mono/etc/mono/2.0/settings.map
Hexacraft_0.3a_Data/Mono/etc/mono/2.0/web.config
Hexacraft_0.3a_Data/Mono/etc/mono/browscap.ini
Hexacraft_0.3a_Data/Mono/etc/mono/config
Hexacraft_0.3a_Data/Mono/etc/mono/mconfig/config.xml
Hexacraft_0.3a_Data/Mono/mono.dll
Hexacraft_0.3a_Data/Resources/unity default resources
Hexacraft_0.3a_Data/Resources/unity_builtin_extra
Hexacraft_0.3a_Data/app.info
Hexacraft_0.3a_Data/globalgamemanagers
Hexacraft_0.3a_Data/globalgamemanagers.assets
Hexacraft_0.3a_Data/level0
Hexacraft_0.3a_Data/resources.assets
Hexacraft_0.3a_Data/resources.assets.resS
Hexacraft_0.3a_Data/sharedassets0.assets
Hexacraft_0.3a_Data/sharedassets0.assets.resS
Hexacraft_0.3a_Data/sharedassets0.resource
Hexworld.rar
